/* Estiliza o contêiner principal */
.container {
    height: 100%; /* Define a altura completa */
    background: linear-gradient(95deg, rgba(78,202,212,1) 0%, rgba(40,233,176,1) 0%, rgba(64,0,255,1) 100%); /* Aplica um gradiente de fundo */
    display: flex; /* Usa flexbox para alinhar o conteúdo */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    justify-content: center; /* Alinha os itens ao centro horizontalmente */
}

/* Estiliza o formulário */
.form {
    width: 30rem; /* Define a largura do formulário */
    margin: auto; /* Centraliza o formulário */
    background-color: rgb(220, 220, 220); /* Define a cor de fundo do formulário */
    padding: 4rem 1rem; /* Adiciona espaçamento interno */
    border-radius: 1rem; /* Adiciona bordas arredondadas */
}

/* Estiliza o título */
h1 {
    width: 100%; /* Define a largura total */
    text-align: center; /* Centraliza o texto */
}

/* Estiliza a imagem */
img {
    height: 15rem; /* Define a altura da imagem */
    width: 100%; /* Define a largura total */
    margin: 1.5rem auto; /* Adiciona margens superior e inferior e centraliza horizontalmente */
}

/* Classe utilitária para definir largura completa */
.full-width {
    width: 100%; /* Define a largura total */
}

/* Estiliza o botão */
button {
    margin-top: 1.5rem; /* Adiciona margem superior */
}

mat-icon {
    opacity: .6;
}
